
*{margin:0;padding:0;}

/*主导航*/
.nav{
    width: 66.1538rem;
    height: 6.9231rem;
    float: left;
    background-color: #fff;
}
#nav{
    list-style:none;
    font-size:18px;
    line-height:87px;
    font-family:"黑体";

}

#nav li{
    float:left;
    width:110px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}




/*超链接样式*/
a.AA:link{
    text-decoration: none;
    background-color: #fff;
    color: #4F5668;
    border-bottom: transparent;
    border-bottom-width:3px;
}
a.AA:visited{
    text-decoration: none;
    background-color: #fff;
    color: #4F5668;
    border-bottom: transparent;
    border-bottom-width:3px;
}
a.AA:hover{
    text-decoration: none;
    color: #4F5668;
    border-bottom-width:3px;
    border-bottom-style: solid;
    border-left-style: none;
    border-bottom-color: #fa811e;
    background-color: #fafafa;
    font-weight: bolder;
}
a.AA:active{
    text-decoration: none;
    color: #4F5668;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-left-style: none;
    border-bottom-color: #fa811e;
    background-color: #fafafa;
    font-weight: bolder;
}

a.BB:link{
    text-decoration: none;
    background-color: #fff;
    color:#C3462A;
}
a.BB:visited{
    text-decoration:none;
    background-color: #fff;
    color: #C3462A;}
a.BB:hover{
    text-decoration: none;
    color: #4F5668;
}
a.BB:active{
    text-decoration: none;
    color: #4F5668;
}

a.CC:link{
    text-decoration: none;
    background-color: #fff;
    color: #4F5668;
}
a.CC:visited{
    text-decoration:none;
    background-color: #fff;
    color: #4F5668;}
a.CC:hover{
    text-decoration: none;
    color:#C3462A;
}
a.CC:active{
    text-decoration: none;
    color:#C3462A;
}

a.DD:link{
    text-decoration: none;
    background-color: #fff;
    color:#C3462A;
}
a.DD:visited{
    text-decoration:none;
    background-color: #fff;
    color: #C3462A;}
a.DD:visited{
    text-decoration:none;
    background-color: #fff;
    color: #C3462A;}
a.DD:hover{
    text-decoration: none;
    color: #EA0000;
}
a.DD:active{
    text-decoration: none;
    color: #EA0000;
}

a.EE:link{
    text-decoration: none;
}
a.EE:visited{
    text-decoration:none;
}
a.EE:hover{
    text-decoration: none;
    border: 20px solid #FAFAFA;
}
a.EE:active{
    text-decoration: none;
    border: 20px solid #FAFAFA;
}

a.FF:link{
    text-decoration: none;
    background-color: #fff;
    color:#C3462A;
}
a.FF:visited{
    text-decoration:none;
    background-color: #fff;
    color: #C3462A;
    font-weight: bold;
}
a.FF:hover{
    text-decoration: none;
    color: #C3462A;
    font-weight: bold;
}
a.FF:active{
    text-decoration: none;
    color: #C3462A;
}



/*页面排版块*/
.container {

    font-family: "黑体";
    padding:0;
    margin-top: 0;

}
.container .top {
    height: 90px;
    width: 1900px;
    padding: 0;
    margin: 0px;
    border-bottom: 3px;
    border-color: #999999;
    border-type:solid;
}
.container .top .logo {
    float: left;
}

.container .top .load{
    height: 90px;
    width: 540px;
    float: right;
    color: #C63;
    font-family: "黑体";
    font-weight: bolder;
}
.container .top .load .search{
    height: 90px;
    width: 360px;
    float: left;
    background-color: #8096c5;
    display:block;
}.container .top .load .message{
    height: 90px;
    width: 90px;
    float: left;
     background-color:#425698;
}.container .top .load .user{
    height: 90px;
    width: 90px;
    float: left;
      background-color: #425698;
}


input[type=text], select {
    width: 300px;
    padding: 12px 15px;
    margin: 21px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
}

input[type=submit] {
    width: 80px;
    background-color: #1880c5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#425698;
}



.container .mid {
    background-color: #fff;
    height: 3000px;
    width: 1900px;

}
.container .banner{
    height: 600px;
    width: 1900px;
    padding: 0;
}

.container .mid .title{
    width: 1900px;
    height: 60px;
    padding-left: 140px;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #fff;
}


/*热门文章图片块*/
.container .mid .A {
    height: 620px;
    width: 1760px;
    padding-left: 140px;
    background-color: white;

}
.container .mid .A .a {
    height: 550px;
    width: 500px;
    float:left;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0;
    margin-right: 70px;
    transition: all 0.3s;
}
.container .mid .A .a:hover{
    transform: scale(1.1);
}
.A-title{
    margin-left: 20px;
    font-size: 28px;
    width: 460px;
    height: 72px;
    color: #3a4c86;

    line-height: 36px;
}
.A-info1{
    width: 500px;
    height: 30px;

}.A-info2{
    width: 500px;
    height: 60px;

}
.A-level{
    margin-left: 20px;
    font-size: 20px;
    width: 320px;
    height: 30px;
    color: #999999;

    float: left;
    line-height: 30px;
}.A-look{
    font-size: 20px;
    width: 80px;
    height: 30px;
    color: #999999;
    float: left;

     line-height: 30px;
}.A-num{
    font-size: 24px;
    width: 60px;
    height:30px;
    color: #fa811e;
    float: left;

    line-height: 26px;
}
.A-money{
    font-size: 28px;
    margin-left: 20px;
    float: left;
    width: 120px;
    height:60px;
    color: #fa811e;

    line-height: 60px;
}
.A-more{
    font-size: 20px;
    float: right;
    width: 110px;
    height:60px;
    color: #999;
    line-height: 70px;
    margin-right: 20px;
}


.container .mid .B {
    height: 480px;
    width: 1900px;
    padding-left: 140px;
    background-color: #dbe3f4;
    padding-top: 0;
}
.B-line{
    width: 1620px;
    height: 120px;
    padding-top: 40px;
}
.container .mid .B .b {
    height: 120px;
    width: 700px;
    background-color: #fff;
    float: left;
    font-size: 26px;
    line-height: 120px;
    padding-left: 30px;
    transition: all 0.3s;
}
.container .mid .B .b:hover{
    transform: scale(1.1);
}
.B-btn{
    width: 160px;
    height: 60px;
    background-color: #3bcdbb;
    margin-top:30px;
    float: right;
    margin-right: 50px;
    font-size: 24px;
    line-height: 60px;
    color: white;
  /*  text-align: center;*/
}

.container .mid .C {
    height: 550px;
    width: 1760px;
    padding-left: 140px;
    background-color: #fff;
    padding-top: 0;
}
.container .mid .C .c{
    height: 470px;
    width: 1560px;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 40px;
    margin-bottom:50px;
}
.C-info{
    width: 860px;
    height: 470px;
    float: right;
}
.C-title{
    font-size: 32px;
    color: #1880c5;
    width: 860px;
    height: 80px;
    margin-top: 20px;
    line-height: 40px;
}
.C-intro{
    font-size: 20px;
    color: #333;
    width: 860px;
    height: 200px;
    margin-top: 40px;
    line-height: 28px;
}
.C-more{
    font-size: 20px;
    float: right;
    width: 110px;
    height:60px;
    color: #999;
    line-height: 60px;
    margin-top: 60px;
}
.container .mid .D {
    height: 240px;
    width: 1900px;
    padding-top:50px;
}

.container .mid .D .d {
    width: 530px;
    height: 300px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-size: 26px;
    line-height:36px ;
    color: #3a4c86;

}

.container .mid .G {
    height: 550px;
    width: 1760px;
    padding-left: 140px;
    padding-top: 0;
    border-radius: 5px;
}
.g{
    height: auto;
    width: 1560px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    background-color: white;
}
.G-title{
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}
.G-content{
    font-size: 22px;
    color: #666;
    line-height: 2.5rem;
    
}
.G-buy{
    float: right;
    font-size: 18px;
}




/*版权信息*/
.bot {
    background-color: #616a80;
    width:1900px;
    height:10px;
    color: #FFF;
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
    font-family: "黑体";
}
